<div class="container-fluid cc-project">
	<div class="row cc-scrubrow">
		<div class="col-xs-3 col-sm-2 col-md-2 col-lg-1"></div>
		<div class="col-xs-9 col-sm-10 col-md-10 col-lg-11">
			<div class="cc-scrubber">
				<div class="cc-scrubline"></div>
			</div>
		</div>
	</div>
	<div class="row cc-timeline">
		<div class="col-xs-3 col-sm-2 col-md-2 col-lg-1 cc-instrument">
			<span class="glyphicon glyphicon-music" aria-hidden="true"></span>
		</div>
		<div class="col-xs-9 col-sm-10 col-md-10 col-lg-11 cc-notes">
			<div class="cc-notes-container">
				<!-- <div class="cc-note cc-note-1" id="0" data-pos="0" style="left: 0px; width: 100px;"></div> -->
			</div>
		</div>
	</div>
</div>
<nav class="navbar navbar-inverse cc-controlbar">
	<div class="container-fluid">
		<ul class="nav navbar-nav navbar-left">
			<li>
				<a href="#" id="cc-recordBtn"><span class="glyphicon glyphicon-record"></span> Start Recording</a>
				<a href="#" id="cc-stopRecordBtn" class="hidden"><span class="glyphicon glyphicon-record"></span> Stop Recording</a>
			</li>
		</ul>
	</div>
</nav>
